@font-face {
    font-family: roboto;
    src: url(./assests/Roboto.ttf);
}

* {
    font-family: roboto;
}

html, body, .container {
    background-color: #F0F0F0;
}

.container {
    margin: 100px auto;
    text-align: center;
}

textarea {
    border: 0 !important;
}

button {
    margin: 20px 0;
}

ul {
    text-align: left;
}
